body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoard {
    margin-top: 100px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 50px;
    width: 50px;
}

.square svg {
    height: 40px;
    width: 40px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(110, 110, 98);
}

.brown {
    background-color: rgb(169, 43, 43);
}

.black {
    fill: rgb(29, 28, 28);
}

.white {
    fill: aliceblue;
}